---
---

<a href="/" class="logo">Fabio Souto</a>

<style>
  .logo {
    font-family: 'Caveat', cursive;
    font-size: 1.6rem;
    font-weight: 600;
    color: #1a1a1a;
    text-decoration: none;
  }

  .logo:hover {
    color: #b85c38;
  }
</style>
